:root {
    --swiper-navigation-color: #ffffff;
    --swiper-pagination-color: #ffffff;
  }
html{
    background-color: rgb(41, 41, 41);
}
html,body,* {
    padding:0; 
    margin:0; 
    font-family: 'Raleway', sans-serif;
    scroll-behavior: smooth;
}
body {
    overflow-x: hidden;
}



/* ____NAVBAR START____*/

header a {
    text-decoration: none;
}
header nav ul {
    list-style: none;
    display: flex;
    align-items: center;
}
#brand {
    z-index: 3;
    height: 5vh;
    width: 5vh;
}
#brand a img{
    height: 5vh;
    width: 5vh;
}
header nav{
    display: flex;
    justify-content: space-between;
}
header nav {
    background-color: #e0e0e0;
    opacity: 80%;
    border-radius: 25px;
    height: 77px;
}
#navbar {
    z-index: 5;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#navbar {
    position: fixed; /* Make it stick/fixed */
    top: -78px; /* Hide the navbar 50 px outside of the top view */
    left: 10%;
    width: 80%; /* Full width */
    transition: top 0.3s; /* Transition effect when sliding down (and up) */
}
#navbar nav a {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 1.25em;
    letter-spacing: 0.15em;
    color: rgb(0, 0, 0);
    padding: 26px 15px;
}
#navbar nav li {
    padding: 0 calc(7vw - 80px);
}
#navbar nav a:hover {
    background-color: #464646;
    color: rgb(255, 255, 255);
    border-radius: 25px;
    transition: 0.1s;
}

/* ____NAVBAR END____*/

/* ____MOBILE MENU START____*/

#navbar h2 {
    font-size: 1.5em;
}
#hamburger-icon {
    z-index: 5;
    margin: auto 0;
    display: none;
    cursor: pointer;
}
#hamburger-icon div {
    width: 40px;
    height: 5px;
    background-color: white;
    margin: 9px 0;
    transition: 0.4s;
    border-radius: 2px;
}
.open .bar1 {
    -webkit-transform: rotate(-45deg) translate(-10px, 10px);
    transform: rotate(-45deg) translate(-10px, 10px);
}
.open .bar2 {
    opacity: 0;
}
.open .bar3 {
    -webkit-transform: rotate(45deg) translate(-10px, -10px);
    transform: rotate(45deg) translate(-10px, -10px);
}
.mobile-menu {
    display: none;
    position: absolute;
    top: 0;
    left: 15vw;
    width: 68%;
} 
.open .mobile-menu {
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.692);
    backdrop-filter: blur(5px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border-radius: 8px;
} 
.mobile-menu li {
    width: 100%;
    text-align: center;
    padding: 0;
    list-style-type: none;  
}
.mobile-menu li:hover {
    backdrop-filter: blur(100px);

}

/* ____MOBILE MENU END____*/





/* ____SCREENS____*/

.screen {
    position: relative;
    
    /*border: 1px solid red;*/
}







h1 {
    color: white;
    font-size: calc(2vw + 40px);
    font-weight: 600;
    margin: 1vh 0 2vh 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    line-height: 0.9;
    letter-spacing: 0.05em;
}
h2 {
    color: white;
    font-size: calc(2vw + 20px);
    font-weight: 600;
    margin: 2vh 0 2vh 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    line-height: 0.9;
    letter-spacing: 0.05em;
}



/* ____LANDING START____*/
#Landing.screen {
    height: 100vh;
    height: 100svh;
    background-color: rgb(41, 41, 41);
}
#Landing .background {
    object-fit: cover;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}
.text-wrap {
    /* border: 1px solid red; */
    width: 50vw;
    position: absolute;
    top: 30vh;
    left: 25vw;
    text-align: center;
}
#Landing p {
    color: white;
    font-size: calc(1em + 0.75vw);
    word-spacing: 0.1em;
    letter-spacing: 0.1em;
    margin: 1vh 0 10vh 0;
    padding: 0;
}
.scroll-icon {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translateX(-50%);
    height: 15vh;
}


/* ____LANDING END____*/




/* ____CONTACT BUTTON START____*/

.cButton {
    position: relative;
    padding: 0.8em 4em 0.8em 4em;
    border: 2px solid #ffffff;
    color: white;
    font-weight: 600;
    border-radius: 15px;
    text-decoration: none!important;
    display: inline-block;
    transition-duration: 0.3s;
    cursor: pointer;
    word-spacing: 0.1em;
    letter-spacing: 0.3em;
}
.cButton:hover {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
}

/* ____CONTACT BUTTON END____*/



/* ____ABOUT START____*/


  
#About.screen {
    min-height: 850px;
    background-color: rgb(41, 41, 41);

    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
.about-wrap {
    /* border: 1px solid red; */
    width: 100%;
    left: 10%; 
    margin: 12em 0 10em 0;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
}
.about-container {
    /*border: 1px solid rgb(50, 209, 36);*/
    width: calc(50px + 35vw);
    margin: 0 1em 0 1em;
}
#About h1 {
    /* border: 1px solid rgb(0, 225, 255); */
    margin-bottom: 0.75em;
    text-align: center;
}
/*.about-text {
    border: 1px solid red;
} 
*/
#About .cButton {
    left: 50%;
    transform: translateX(-50%);
}
.about-image {
    height: 400px;
    width: 400px;
}
.armchair3d {
    height: 100%;
    left: 50%;
    transform: translate(-50%,-50%);
    top: 50%;
}
#About p {
    color: white;
    font-size: calc(1em + 0.3vw);
    margin: 0vh 0 1em 0;
    padding: 0;
    word-spacing: 0.1em;
    letter-spacing: 0.1em;
}

/* ____ABOUT END____*/




/* ____INFO START____*/

#Info.screen {
    
    background-color: rgb(41, 41, 41);

    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 5em;
}
.info-wrap {
    /* border: 1px solid red; */
    position: relative;
    width: 80vw;
    margin: 4em 0 10em 0;
}
#Info h2 {
    text-align: center;
    margin-bottom: 1em;
}
.info-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.block {
    width: 45%;
    max-width: 530px;
    height: 30vh;
    margin: 2%;
    border-radius: 20px;
    
}
.swiper-slide {
    border-radius: 20px;
}
.a {
    background: rgb(85, 85, 85);
    display: flex!important;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
.b {
    background: #25a0b6;
    display: flex!important;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.icon {
    background: #3d3d3d;
    width: 100px;
    height: 100px;
    border-radius: 15px;  
}
.block-text {
    width: 55%;
}

#Info .block h2 {
    font-size: 1.5em;
    text-align: right;
    letter-spacing: 0.1em;
    margin: 0 0 0.5em 0;
}
#Info .info-header {
    font-size: 2em;
    text-align: left;
    letter-spacing: 0.05em;
    margin: 0 0 0.5em 0;
    position: relative;
    left: 15%;
    width: 80%;
}
#Info .info-subheader {
    font-size: 1em;
    color: white;
    text-align: left;
    word-spacing: 0.1em;
    letter-spacing: 0.1em;
    position: relative;
    left: 15%;
    width: 75%;
}
#Info p {
    font-size: 1em;
    color: white;
    text-align: right;
    word-spacing: 0.1em;
    letter-spacing: 0.1em;
    margin-bottom: 3em;
    line-height: 1em;
}
.reverse {
    flex-direction: row-reverse;
}
#Info .block .reverse p {
    text-align: left;

}
#Info .block .reverse h2 {
    font-size: 1.5em;
    text-align: left;
    margin: 0 0 0.5em 0;
}
.info-text-block {
    width: 50%;
    position: relative;
    top: 10%;
}
.swipe-icon {
    float: right;
    height: 8vh;
    width: 10vh;
}

/* ____INFO END____*/











/* ____PORTFOLIO SWIPER START____*/

#Portfolio.screen {
    height: 100vh;
    background-color: rgb(41, 41, 41);
}
#Portfolio h2 {
    position: relative;
    float: right;
    right: 15vw;
    top: 16vh;
    width: 25vw;
}
#Portfolio p {
    color: white;
    position: relative;
    margin-bottom: 4em;
    margin-left: 2em;
    width: 50vw;
    word-spacing: 0.1em;
    letter-spacing: 0.1em;
}
.swiper2 {
    position: relative;
    top: 10vh;
    height: 60vh;
    width: 100%;
    z-index: 4;
}
.slide1 {
    z-index: 4;
    height: 100%;
    width: 50vw;
    object-fit: cover;
    border-radius: 40px;
}
.slide2 {
    height: 100%;
    border-radius: 40px;
    width: 50vw;
    object-fit: cover;
}
.slide3 {
    height: 100%;
    border-radius: 40px;
    width: 50vw;
    object-fit: cover;
}




/* ____PORTFOLIO SWIPER END____*/






/* ____CONTACT START____*/

#Contact.screen {
    background-color: rgb(41, 41, 41);
    min-height: 850px;
    padding: 2em 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
.contact-header {
    position: relative;
    left: 6%;
    width: 40%;
}
.contact-wrap {
    width: 80vw;
}
.contact-container {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-evenly;
    align-items: center; 
    position: relative;
    width: 100%;
    height: 85%;  
}
.map-wrap {
    height: 50vh;
    width: 40%;
}
.map {
    border-radius: 20px;
}
.container {
    width: 35vw;
}
input[type=submit] {
    text-decoration: none;
    background-color: transparent;
    left: 50%;
    transform: translateX(-50%);
}
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 5px solid #424242;
    background-color: rgba(255, 255, 255, 0.11);
    color: white;
    font-size: 1em;
    border-radius: 15px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}
#Contact .container p {
    position: relative;
    float: left;
    left: 2%;
    color: white;
    font-size: 1em;
    margin: 0.75em 0 0.25em 0;
    padding: 0;
    text-align-last: center;
    word-spacing: 0.1em;
    letter-spacing: 0.1em;
}
.contact-header p {
    color: white;
    font-size: 1em;
    margin: 2em 0 2em 0;
    word-spacing: 0.1em;
    letter-spacing: 0.1em;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgb(146, 146, 146);
    opacity: 1; /* Firefox */
  }

/* ____CONTACT END____*/





/* ____FOOTER START____*/

footer{
    background: #111;
    height: auto;
    font-family: 'Raleway', sans-serif;
    color: #fff;
    
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    padding: 2em 0;
    position: relative;
    width: 80vw;
    left: 10vw;
}
.footer-content h3{
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 3rem;
}
.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}
.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}
.socials li{
    margin: 0 10px;
}
.socials a{
    text-decoration: none;
    color: #ffffff70;
}
.socials a i{
    font-size: 1.5rem;
    transition: color .4s ease;

}
.socials a:hover i{
    color: rgb(255, 255, 255);
}

.footer-bottom{
    background: #000;
    padding: 20px 0;
    text-align: center;
}
.footer-bottom p{
    font-size: 14px;
    word-spacing: 2px;
    letter-spacing: 1px;
}


/* ____FOOTER END____*/



@media  (max-aspect-ratio: 5/4){
   
    .slide1 {
        width: 60vw;
    }
    .slide2 {
        width: 60vw;
    }
    .slide3 {
        width: 60vw;
    }
    #Portfolio p {
        width: 40vw;
    }
}


/* SMALLER SCREEN THAN APECT RATIO 1*/
@media  (max-aspect-ratio: 1){
   

    #navbar {
        left: 5%;
        width: 90%;
    }
    .slide1 {
        width: 80vw;
    }
    .slide2 {
        width: 80vw;
    }
    .slide3 {
        width: 80vw;
    }

    .rellax {
        transform: translate3d(0,0,0) !important;
    }
    header nav {
        display: none;
    }
    #hamburger-icon {
        display: block;
        z-index: 5;
    }
    #Landing .text-wrap {
        width: 70vw;
        left: 15vw;
    }
    .about-wrap{
        margin: 7em 0 7em 0;
    }
    .about-container {
        width: 70%;
    }
    .about-image {
        margin-top: 5vh;
    }
    #About .cButton {
        margin: auto;
    }  
    .contact-wrap {
        width: 90vw;
    }
    .map-wrap {
        height: 50vh;
        width: 50%;
    }
    
    

}

@media (max-aspect-ratio: 3/4) {

    .about-image {
        width: 70vw;
        height: 70vw;
    }
    #Portfolio h2 {   
        right: 1.5em;
    }
    #Portfolio p {
        margin-left: 3em;
    }
    .slide1 {
        width: 100vw;
    }
    .slide2 {
        width: 100vw;
    }
    .slide3 {
        width: 100vw;
    }
    .block {
        width: 95%;
        height: 30vh;
    }
    .info-wrap {
        margin: 0 0 7em 0;
        width: 100%;
    }
    .contact-wrap {
        margin: 10vh 0 10vh 0;
    }
    .map-wrap {
       width: 80vw;
       height: 40vh;
    }
    .container {
        width: 75vw;
        margin: 0 0 4em 0;
    }
    .contact-header {
        left: 10%;
        width: 80%;
    }
        
    

}

@media (max-aspect-ratio: 1/2) {




    
    /*
    .about-child {
        width: 90%;
    }
    .about-image {
        width: 90%;
    }
    */
}

/*@media (max-width: 400px) {
    #Landing .scroll-icon {
        display: none;
    }
}*/